:host {
    overflow-x: hidden;
    transform: 5s all;
    display: flex;
    width: 100%;
    flex-direction: column;
    row-gap: 32px;
}
.header{
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}
.menu{
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: #aee637;
    width: 90%;
    padding: 0px 20px;
    justify-content: space-between;
    
    img{
        
        width: 7%;
    }
}
.body{
    display: flex;
    column-gap: 20px;
    align-items: center;

    button{
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    font-size: 18px;

        border: none;
        background-color: transparent;
        color:#012030;
    }
}


.item {
    background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  transition: all 1s ease-in-out;
}
.botoes-controle {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 8px;
  }
  
  .botoes-controle button {
    background: #ccc;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin-bottom: 50px;
  }
  
  .botoes-controle button.ativo {
    background: #C1EF60;
    cursor: default;
  }

  .btnImg {
     width: 147px;
     height: 145px;

    border-radius: 50%;
    margin: 5px 20px;
    padding: 0px;
    border: 0px;
    display: block;
    background-color: #fff;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
  }
}
.body-sobre{
    display: flex;
    column-gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
}
.title{
    padding-left: 30px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}
.title-msm{
    padding: 20px 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #012030;
}
.membro{
display: flex;
align-items: center;
flex-direction: column;
}
.nome{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #fff;
}
.mensagem{
    background-color: #C1EF60;
}
.body-msm{
    width: 100%;
    display: flex;
}
.parte1{
    width: 50%;
}
.parte2{
    width: 30%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    width: 600px;

    a {
        font-size: 40px;
        font-weight: 510;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}
.msm1 {
    display: flex;
    column-gap: 20px;
}
.msm2 {
    display: flex;
    box-sizing: border-box;
    height: 230px;
    width: 100%;
}

.toda-msm {
    row-gap: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.btn-msm {
    display: flex;
    width: 100%;
    justify-content: center;

}
.input-msm{
    border: none;
    background-color: #D9D9D9;
    color: #A9A9A9;
    padding: 15px;
    border-radius: 10px;
    width: 100%;

    font-size: 20px;
    font-weight: 400;
    
    font-family: 'Roboto', sans-serif;
}
.btn-enviar{
    border: none;
}