<app-navbar></app-navbar>
<div class="container">
  <div class="body">
    <img src="../../../assets/img/Logo-Verde.png" />

    <div class="inputs">
      <input matInput class="input-msm" placeholder="nome da empresa" desable />
      <input matInput class="input-msm" placeholder="E-mail empresarial" />
      <input matInput class="input-msm" placeholder="CNPJ" />
    </div>

    <div class="senha">
      <input matInput class="input-senha" placeholder="senha" />
      <input matInput class="input-senha" placeholder="Confirme sua senha" />
    </div>
    <div class="btns">
      <button class="btn-enviar">Alterar</button>
      <button class="btn-enviar">Cancelar</button>
    </div>
  </div>
</div>
