<div class="container">
  <mat-stepper [linear]="!isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Informe seu E-mail:</ng-template>
        <mat-form-field>
          <mat-label>E-mail:</mat-label>
          <input matInput formControlName="email" required />
        </mat-form-field>
        <div class="buttons">
          <button mat-button matStepperNext class="btn">Next</button>
        </div>
        <div class="btn1">
          <button type="button" class="saida" (click)="return()">
            <mat-icon>logout</mat-icon>
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Informe o Código no E-mail:</ng-template>
        <mat-form-field>
          <mat-label>Código:</mat-label>
          <input matInput formControlName="codigo" required />
        </mat-form-field>
        <div class="buttons">
          <button mat-button matStepperPrevious class="btn">Back</button>
          <button mat-button matStepperNext class="btn">Next</button>
        </div>
        <div class="btn1">
          <button type="button" class="saida" (click)="return()">
            <mat-icon>logout</mat-icon>
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="terceiroFormGroup">
      <form [formGroup]="terceiroFormGroup">
        <ng-template matStepLabel>Informe sua nova senha:</ng-template>
        <mat-form-field>
          <mat-label>Senha:</mat-label>
          <input matInput formControlName="senha" required />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Confirmação da senha:</mat-label>
          <input matInput formControlName="confirmacao" required />
        </mat-form-field>
      </form>
      <div class="buttons">
        <button mat-button matStepperPrevious class="btn">Back</button>
        <button mat-button class="btn">Confirmar</button>
      </div>
      <div class="btn1">
        <button type="button" class="saida" (click)="return()">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
