@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Project-primary: mat.define-palette(mat.$indigo-palette);
$Project-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Project-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Project-theme: mat.define-light-theme((
  color: (
    primary: $Project-primary,
    accent: $Project-accent,
    warn: $Project-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Project-theme);


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

html,
body {
  height: 100%;
  background-color: #012030;
}
 
html, body { height: 100%; }
body { margin: 0; }

*{
  font-family: 'Roboto', sans-serif
}

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-mdc-text-field-wrapper {
  cursor: pointer;
  border-radius: 20px;
  background-color: #AEE637;
  font-size: 20px;
}
.chart{
  display: block;
  box-sizing: border-box !important;
  width: 200px !important;
  height: 200px !important;
}
mat-form-field{
  display: block  !important;
  font-size: 18px !important;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #FFF !important;
  border: 2px solid #0000001f !important;
  border-radius: 15px;
}
.mat-mdc-text-field-wrapper {
  background-color: #ffF !important;
  border-radius: 10px;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
  border-bottom-color: transparent !important;
}
.mdc-text-field--filled.mdc-text-field--invalid:not(.mdc-text-field--disabled),
.mdc-floating-label--float-above {
  color: #012030 !important;
}
.mdc-text-field {
  margin-bottom: 20px !important;
  border: 1px solid #eff1f469 !important;
}
.mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix {
  padding-top: 20px;
  padding-bottom: 8px;
}
.mat-step-icon-selected {
  background-color: #C1EF60 !important;
  color: var(--mat-stepper-header-selected-state-icon-foreground-color);
}
.mat-step-icon-state-edit {
  background-color: #012030 !important;
  color: var(--mat-stepper-header-edit-state-icon-foreground-color);
}

@media only screen and (max-width: 427px){
  .mat-horizontal-stepper-header-container{
    flex-wrap: wrap !important;
    .mat-stepper-horizontal-line{
      display: none !important;
    }
  }
  .mat-horizontal-content-container {
    overflow: auto !important;
    max-height: 50vh !important;
  }
}